<!DOCTYPE HTML>
<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html>
<script>
		function Idshow(){
			document.getElementById("Id").style.display="";
			document.getElementById("Password").style.display="";
		}
		function Login(){
			console.log("로그인 시도");
		}
		function LoginFail(){
			alert("계정이 없습니다. 회원가입 폼으로 이동");
			document.getElementById("Id").style.display="";
			document.getElementById("Password").style.display="";
			document.getElementById("email").style.display="";
			document.getElementById("Gender").style.display="";
			document.getElementById("Nickname").style.display="";
		}
	
</script>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<head>
		<title>Radius by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<div class="content">
						<h1>Thumbs Up</h1>
						<h2>present</h2>
						<div id="Id" style="display:none">
							ID  <input id='ID' type='text' style="border: #888888 2px solid;" /><br>
						</div>
						<div id="Password" style="display:none">
							 Password  <input id='PASSWORD' type='password'/>
						</div>
						<div id="email" style="display:none">
							 email  <input id='Email' type='text'/>
						</div>
						<div id="Gender" style="display:none">
							 gender  <input id='gender' type='text'/>
						</div>
						<div id="Nickname" style="display:none">
							 Nickname  <input id='Nickname' type='text'/>
						</div>
						<button id="test" onclick="Idshow()"><span>test</span></button>
						<button id="test2" onclick="LoginFail()"><span>test2</span></button>
						<button href="#" id="Letsgo"class="button big alt" onclick="Login()"><span>Go</span></button>
					</div>
					
				</div>
			</header>

		<!-- Main -->
			<div id="main">
				<div class="inner">
					<div class="columns">

						<!-- Column 1 (horizontal, vertical, horizontal, vertical) -->
							<div class="image fit">
								<a href="detail1.html"><img src="images/pic01.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/pic02.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/pic03.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/pic04.jpg" alt="" /></a>
							</div>

						<!-- Column 2 (vertical, horizontal, vertical, horizontal) -->
							<div class="image fit">
								<a href="detail1.html"><img src="images/pic06.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/pic05.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/pic08.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/pic07.jpg" alt="" /></a>
							</div>

						<!-- Column 3 (horizontal, vertical, horizontal, vertical) -->
							<div class="image fit">
								<a href="detail1.html"><img src="images/pic09.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/pic12.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/pic11.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/pic10.jpg" alt="" /></a>
							</div>

						<!-- Column 4 (vertical, horizontal, vertical, horizontal) -->
							<div class="image fit">
								<a href="detail1.html"><img src="images/pic13.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/pic14.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/pic15.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/pic16.jpg" alt="" /></a>
							</div>

					</div>
				</div>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<a href="#" class="info fa fa-info-circle"><span>About</span></a>
				<div class="inner">
					<div class="content">
						<h3>Vestibulum hendrerit tortor id gravida</h3>
						<p>In tempor porttitor nisl non elementum. Nulla ipsum ipsum, feugiat vitae vehicula vitae, imperdiet sed risus. Fusce sed dictum neque, id auctor felis. Praesent luctus sagittis viverra. Nulla erat nibh, fermentum quis enim ac, ultrices euismod augue. Proin ligula nibh, pretium at enim eget, tempor feugiat nulla.</p>
					</div>
					<div class="copyright">
						<h3>Follow me</h3>
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						</ul>
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			

	</body>
</html>